examples/n8n_workflow_historie.json
{
  "name": "Vogelbad - Historie API (fuer Home Assistant)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "vogelbad-historie",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1000000-0000-0000-0000-000000000001",
      "name": "Webhook: /vogelbad-historie",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "9443a17e-0fb5-4b96-b7ba-089245cc1ba5",
      "position": [
        -600,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = '/home/node/.n8n/vogelbad_historie.json';\n\nlet historie = [];\ntry {\n  historie = JSON.parse(fs.readFileSync(path, 'utf8'));\n} catch (e) {\n  historie = [];\n}\n\nreturn [{ json: { eintraege: historie.slice(0, 50) } }];"
      },
      "id": "b1000000-0000-0000-0000-000000000002",
      "name": "Historie: aus JSON-Datei lesen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "b1000000-0000-0000-0000-000000000004",
      "name": "Antwort senden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -160,
        300
      ]
    }
  ],
  "connections": {
    "Webhook: /vogelbad-historie": {
      "main": [
        [
          {
            "node": "Historie: aus JSON-Datei lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Historie: aus JSON-Datei lesen": {
      "main": [
        [
          {
            "node": "Antwort senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
